.container {
}

.animation {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.box-hide {
  display: none;
}

.box-show {
  display: block;
}

.container-start {
  text-align: center;
  margin-top: 40%;
}

.table-start {
  width: 100%;
  margin-bottom: 20px;
}

.table-start th,
td {
  width: 50%;
}

.btn-start {
  height: 70px;
  width: 50%;
}

.container-finish {
  width: 100%;
  margin-top: 50px;
}

.body-finish {
  display: flex;
  flex-direction: column;
}

.container-finish h1 {
  margin: auto;
  margin-bottom: 10px;
}

.container-finish p {
  margin: auto;
}

.point {
}

.table-result {
  width: 100%;
  margin-bottom: 20px;
}

.table-result tr {
  text-align: center;
}

.review-answer-thumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}
.review-answer,
.review-question-answer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.review-answer-item {
  border: 1px orange solid;
  margin: 5px 0;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.review-answer-item span {
  height: 100%;
  margin: auto;
  padding-top: 5px;
}

.container-question {
}

.timer-box {
  text-align: center;
}

.question-box {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.question-num {
  color: #345c00;
}

.question {
  font-size: 1.2rem;
}

.answer {
  padding: 10px 5px;
}

.answer-item {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px blue solid;
}

.rd {
  width: 35px;
  min-height: 35px;
  display: flex;
  margin-right: 5px;
  background-color: #cecece;
}

.rd input[type="radio"] {
  margin: auto;
}

.lb {
  min-height: 35px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-size: 1.3em;
}

.button-box {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #99ff00;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.btn-prev {
  margin-left: 5px;
  flex-basis: 40%;
}

.btn-next {
  margin-right: 5px;
  flex-basis: 40%;
}

.btn-control {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.btn-submit {
  margin: 0 5px;
}

.btn-review {
  background-color: #0d8bf2;
  color: white;
  margin-bottom: 10px;
}

.answer-thumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.answer-thumb-item {
  border: 1px orange solid;
  margin: 5px 0;
  min-width: 50px;
  display: flex;
  flex-direction: column;
}

.answer-thumb-item span {
  height: 100%;
  margin: auto;
  padding-top: 5px;
}

.no-choice {
  background-color: #ff6060;
}

.correct-answer {
  background-color: #8bffce;
}

.wrong-answer {
  background-color: #ff4d4d;
}

.answer-select {
  background-color: #f8f37b;
}

.answer-correct {
  background-color: #affcff;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
